html, body {
	padding: 0;
	margin: 0;
	background-color: #ddd;
	overflow: hidden;
	font-family: sans-serif;
	font-weight: bold;
}

#enemy {
	width: 100%;
}
#enemyHealth_info {
	height: 1em;
	padding: 3px;
	width: 100%;
	position: absolute;
	float: left;
	z-index: 2;
	text-align: center;
	color: #f7f3ef;
}
#enemyHealth {
	background-color: #cc3a5f;
	padding: 3px;
	position: relative;
	height: 1em;
	z-index: 1;
}
#enemyHealth_max {
	content: "";
	background-color: #7e153e;
	text-align: center;
	color: #f7f3ef;
	height: 1em;
	padding: 3px;
	position: absolute;
	top: 0;
	float: left;
	width: 100%;
	z-index: 0;
}

#player {
	width: 100%;
	position: absolute;
	bottom: 0;
}
#player > div {
	width: 100%;
}

#playerStats {
	position: relative;
}

#playerHealth_info {
	height: 1em;
	padding: 3px;
	width: 100%;
	position: absolute;
	float: left;
	z-index: 2;
	text-align: center;
	color: #f7f3ef;
}
#playerHealth {
	background-color: #cc3a5f;
	text-align: center;
	color: #f7f3ef;
	height: 1em;
	padding: 3px;
	z-index: 1;
	position: relative;
}
#playerHealth_max {
	background-color: #7e153e;
	text-align: center;
	color: #f7f3ef;
	height: 1em;
	padding: 3px;
	position: absolute;
	bottom: calc(1em + 6px);
	float: left;
	width: 100%;
	z-index: 0;
}
#playerMana_info {
	height: 1em;
	padding: 3px;
	width: 100%;
	position: absolute;
	float: left;
	z-index: 2;
	text-align: center;
	color: #f7f3ef;
}
#playerMana {
	background-color: #3333dd;
	text-align: center;
	color: #f7f3ef;
	height: 1em;
	padding: 3px;
	z-index: 1;
	position: relative;
}
#playerMana_max {
	background-color: #15156f;
	text-align: center;
	color: #f7f3ef;
	height: 1em;
	padding: 3px;
	z-index: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	float: left;
}

#playerSpells {
	display: table;
	table-layout: fixed;
}

#playerSpells div {
	display: table-cell;
	height: 25vh;
	max-width: 25vw;
	text-align: center;
	vertical-align: middle;
	background-color: #ede4cc;
	margin: 0;
	border: 3px outset #e3e3ff;
}
#playerSpells div:hover {
	cursor: pointer;
	background-color: #edffcc;
}

.spellInfo {
	text-align: center;
	font-size: 8px;
	font-weight: initial;
	vertical-align: bottom;
}

#menu {
	position: relative;
	height: 100%;
	display: table;
	table-layout: fixed;
}

#menu_options div {
	user-select: none;
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.01);
	padding: 4px;
}
#menu_options div:hover {
	background-color: #edffcc;
	cursor: pointer;
}

.btn {
	display: table-cell;
	text-align: center;
	background-color: #ede4cc;
	border: 3px outset #e3e3ff;
}
.btn:hover {
	cursor: pointer;
	background-color: #edffcc;
}
#spells { cursor: not-allowed; background-color: #3d3d3d; border: 3px solid #e3e3ff; color: #e3e3ff; }
