html, body {
	padding: 0;
	margin: 0;
	background-color: #ddd;
	overflow: hidden;
	font-family: sans-serif;
	font-weight: bold;
	user-select: none;
	font-size: 1.75vh;
	height: 100vh;
	display: flex;
	flex-flow: column;
}

#enemy {
	/* width: 100%; */
	position: relative;
	display: flex;
	flex: 0 0 calc(1em + 6px);
}
#enemyHealth_info {
	width: 100%;
	position: absolute;
	top: 3px;
	/* height: 1em; */
	/* float: left; */
	/* padding: 3px; */
	z-index: 2;
	text-align: center;
	color: #f7f3ef;
}
#enemyHealth {
	background-color: #cc3a5f;
	padding: 3px;
	/* position: relative; */
	/* height: 1em; */
	z-index: 1;
}
#enemyHealth_max {
	content: "";
	background-color: #7e153e;
	text-align: center;
	color: #f7f3ef;
	height: 100%;
	/* padding: 3px; */
	position: absolute;
	/* top: 0; */
	/* float: left; */
	width: 100%;
	z-index: 0;
}

.status {
	float: right;
	position: relative;
	right: 10vw;
	cursor: pointer;
}

[data-tooltip]:before {
	content: "";
	border: 8px solid transparent;
	border-bottom: 8px solid #4f4f4f;
	display: none;
	position: absolute;
	top: calc(80% - 6px);
	right: calc(-1.1vh / 2 + 6px / 2);
}

[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	display: none;
	top: 120%;
	right: -10px;
	width: auto;
	font-size: 1.1vh;
	font-weight: initial;
	font-family: monospace;
	text-transform: lowercase;
	white-space: pre;
	text-align: right;
	background-color: #4f4f4f;
	border-radius: 5px;
	padding: 7px;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	display: block;
}

#player {
	width: 100%;
	/* position: absolute; */
	/* bottom: 0; */
}
#player > div {
	width: 100%;
}

#playerStats {
	position: relative;
}

#playerHealth_info {
	height: 1em;
	padding: 3px;
	width: 100%;
	position: absolute;
	float: left;
	z-index: 2;
	text-align: center;
	color: #f7f3ef;
}
#playerHealth {
	background-color: #cc3a5f;
	text-align: center;
	color: #f7f3ef;
	height: 1em;
	padding: 3px;
	z-index: 1;
	position: relative;
}
#playerHealth_max {
	background-color: #7e153e;
	text-align: center;
	color: #f7f3ef;
	height: 1em;
	padding: 3px;
	position: absolute;
	bottom: calc(1em + 6px);
	float: left;
	width: 100%;
	z-index: 0;
}
#playerMana_info {
	height: 1em;
	padding: 3px;
	width: 100%;
	position: absolute;
	float: left;
	z-index: 2;
	text-align: center;
	color: #f7f3ef;
}
#playerMana {
	background-color: #3333dd;
	text-align: center;
	color: #f7f3ef;
	height: 1em;
	padding: 3px;
	z-index: 1;
	position: relative;
}
#playerMana_max {
	background-color: #15156f;
	text-align: center;
	color: #f7f3ef;
	height: 1em;
	padding: 3px;
	z-index: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	float: left;
}

#playerIncrease {
	background-color: #33dd33;
	height: 0.25em;
	z-index: 1;
	position: relative;
}
#playuerIncrease_max {
	background-color: #156f15;
	height: 0.25em;
	z-index: 0;
	position: absolute;
	width: 100%;
	float: left;
	bottom: 0;
}

#playerSpells {
	display: table;
	table-layout: fixed;
}

#playerSpells div {
	display: table-cell;
	height: 25vh;
	max-width: 25vw;
	text-align: center;
	vertical-align: middle;
	background-color: #ede4cc;
	margin: 0;
	border: 3px outset #e3e3ff;
}
#playerSpells div:hover {
	cursor: pointer;
	background-color: #edffcc;
}

.spellInfo {
	text-align: center;
	font-size: 1.1vh;
	font-weight: initial;
	vertical-align: bottom;
}

#menu {
	position: relative;
	/* height: 100%; */
	display: table;
	table-layout: fixed;
}

#menu_options {
	width: 100%;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	overflow-y: scroll;
	position: relative;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

#menu_list {
	height: 100%;
}

#menu_list > div:not(#spell_menu) {
	user-select: none;
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.01);
	padding: 4px;
}
#menu_list > div:hover:not(#spell_menu) {
	background-color: #edffcc;
	cursor: pointer;
}

.menu_option {
	box-sizing: border-box;
	position: relative;
	padding: 0 !important;
}
.info {
	padding: 4px;
}
.top_right {
	float: right;
}
.bottom_left {
	font-weight: initial;
	font-size: 1.5vh;
}

.menu_option .description {
	display: none;
	background-color: #999;
	width: 100%;
	padding: 4px;
	border-top: 2px solid #444;
	font-weight: initial;
	font-size: 1.5vh;
}
.menu_option:hover .description {
	display: block;
}

.row {
	display: table-row;
	width: 100%;
}

.btn {
	display: table-cell;
	text-align: center;
	background-color: #ede4cc;
	border: 3px outset #e3e3ff;
}
.btn:hover {
	cursor: pointer;
	background-color: #edffcc;
}
#spell_menu { 
	width: 100%;
	background-color: rgba(0,0,0,0.01);
}
#spell_menu div div:hover {
	background-color: #edffcc;
	cursor: pointer;
}

#select {
	display: table;
	table-layout: fixed;
	height: 24px;
	width: calc(100% - 8px);
	margin: 4px;
}
#select div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 25%;
}
.selected {
	background-color: #22e0dd;
	border: 2px solid #4f4f4f;
}
.primary {
	background-color: #aaaaff;
}
#elements .selected:after {
	white-space: pre-line;
	content: '\Asecondary';
	font-family: monospace;
	font-size: 1vh;
	font-weight: initial;
	text-transform: lowercase;
}
#elements .primary:after {
	white-space: pre-line;
	content: '\Aprimary';
	font-family: monospace;
	font-size: 1vh;
	font-weight: initial;
	text-transform: lowercase;
}
.locked {
	border: 3px inset #e3e3ff;
	background-color: #3d3d3d;
	color: #e3e3ff;
}
.locked:hover {
	cursor: not-allowed !important; 
	background-color: #3d3d3d !important;
}


#elements {
	height: 100%;
	width: 100%;
}
#elements div {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: calc(25% - 3.5px);
	padding: 6px;
	box-sizing: border-box;
	text-transform: capitalize;
}